/* Hide regular tabs */
#TabsToolbar {
  visibility: collapse !important;
}

/* Change navigation bar color */
#nav-bar {
  background-image: none !important;
}

/* Blend address bar with navigation bar */
#urlbar {
  border-color: transparent !important;
}

/* Hide dark line under navigation bar */
#navigator-toolbox::after {
  border-bottom: 1px solid transparent !important;
}

/* Hide sidebar header */
#sidebar-box #sidebar-header {
  display: none;
}

/* Hide sidebar splitter */
#sidebar-splitter {
  max-width: 1px;
  margin-right: -2px;
  opacity: 0;
}

/* Move status panel from left to right */
#statuspanel {
  right: -13px;
  display: inline;
}

/* Autohide navbar */
#navigator-toolbox {
  -moz-appearance: none;
  border-top: none;
}

#urlbar:not(.megabar):not([focused='true']):-moz-lwtheme,
#urlbar.megabar:not([focused='true']):-moz-lwtheme > #urlbar-background,
#navigator-toolbox #searchbar:not(:focus-within):-moz-lwtheme,
#navigator-toolbox {
  border: none !important;
}

toolbox {
  z-index: 10;
  margin-top: 0px !important;
  margin-bottom: -40px !important;
  height: 0 !important;
  margin-left: 250px !important;
}

#nav-bar {
  opacity: 0;
  transition: opacity 0.2s ease-in-out !important;
}

:hover > toolbox,
toolbox:focus-within {
  opacity: 1;
  transition: opacity 0.2s ease-in-out !important ;
}
:hover > #nav-bar,
toolbox:focus-within > #nav-bar {
  opacity: 1;
}
