/* Hide regular tabs */
#TabsToolbar {
  visibility: collapse !important;
}

/* Change navigation bar color */
#nav-bar {
  background-image: none !important;
}

/* Blend address bar with navigation bar */
#urlbar {
  border-color: transparent !important;
}

/* Hide dark line under navigation bar */
#navigator-toolbox::after {
  border-bottom: 1px solid transparent !important;
}

/* Hide sidebar header */
#sidebar-box #sidebar-header {
  display: none;
}

/* Hide sidebar splitter */
#sidebar-splitter {
  max-width: 1px;
  margin-right: -2px;
  opacity: 0;
}

/* Move status panel from left to right */
#statuspanel {
  right: -13px;
  display: inline;
}

toolbox {
  z-index: 10;
  margin-top: 0px !important;
  margin-bottom: -40px !important;
  height: 0 !important;
  margin-left: 250px !important;
}

/* https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_toolbox.css */

:root[sizemode="fullscreen"]{ margin-top: 0px !important; }

#navigator-toolbox{
  position: fixed !important;
  display: block;
  background-color: var(--lwt-accent-color,black) !important;
  transition: transform 82ms 33ms linear, opacity 82ms 33ms linear !important;
  transform-origin: top;
  line-height: 0;
  z-index: 1;
  pointer-events: none;
}

#navigator-toolbox > *{ line-height: normal; pointer-events: auto }

#navigator-toolbox,
#navigator-toolbox > *{
  width: calc(100vw - 250px);
  -moz-appearance: none !important;
}

#navigator-toolbox:not(:focus-within):not(:hover){
  transform: rotateX(86deg);
  opacity: 0;
}

:root[sizemode="maximized"] #navigator-toolbox:not(:focus-within):not(:hover){ transform: rotateX(89.5deg) }

:root:not([sessionrestored]) #navigator-toolbox{ transform:none !important }

:root[customizing] #navigator-toolbox{
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
}

#navigator-toolbox[inFullscreen] > #PersonalToolbar,
#PersonalToolbar[collapsed="true"]{ display: none }
